
body {
    background-color: #0c4b33;
    color: #fff;
  }
  form {
    text-align : center;
}

.btn-outline-success {
 border-radius: 100px;

  background-color:  #008CBA;
  color: Black;
  font-size: 40px;
    display: block;
    height: 200px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
}
form {
  text-align: center;
}
.btn-outline-success  {
  display: block;
  height: 100px;
  width: 300px;
  text-align: center;
}
.col-sm-2 {
  text-align: left;
}